body {
    background-image: url(../images/funky-lines.png);
    width: 960px;
}

#fullName {
    background: #4aaaa5;
    color: white;
    width: 310px;
    text-align: center;
    padding: 14.5px 3px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 10px;
    float: left;
    margin-right: 150px;
    margin-left: 158px;
}

nav {
    float: right;
    text-align: center;
    padding: 30px 45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-right: 98px;
    margin-left: 150px;
}

#top {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #cccccc;
}

a:visited {
    text-decoration: none;
    color: #848488;
}

a:link {
    text-decoration: none;
    color: #848488;
}

#title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

#pageCard {
    background: white;
    padding: 15px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 150px;
    margin-left: 150px;
    width: 939px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
}

img{
    float: left;
    padding: 0px 20px 0px 0px;
}

/* https://picsum.photos/150/100/?random */

#para {
    color: #848488;
}

#footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #666666;
    height: 60px;
    border: solid;
    border-width: 6px 0 0 0;
    border-color: #4aaaa5;
}


footer {
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 40px 0 0 0;
    font-size: 12px;
}

input[type=text], select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 5px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 6px 18px;
    cursor: pointer;
    border: none;
}

#cap1 {
    width: 150px;
    height: 20px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: normal;
    padding: 5px 0 5px 0;
    margin: 0;
    position: relative;
    top: 95px;
}

#cap2 {
    width: 150px;
    height: 20px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: normal;
    padding: 5px 0 5px 0;
    margin: 0;
    position: relative;
    top: 95px;
    left: 170px;
}

#row1 {
    float:left;
}

#row2 {
    float:left;
}

#row4{
    float: left;
    position: relative;
    top: 95px;
}