body {
    background-image: url(../images/funky-lines.png);
    width: 960px;
    margin-right: 150px;
    margin-left: 150px;
}

#fullName {
    background: #4aaaa5;
    color: white;
    width: 310px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 10px;
    float: left;
}

nav {
    background: white;
    float: right;
    text-align: center;
    padding: 30px 40px 30px 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    letter-spacing: 1px;
}

a:visited {
    text-decoration: none;
    color: #777777;
}

a:link {
    text-decoration: none;
    color: #777777;
}

#top {
    background: white;
    /* position: fixed;
    top: 0;
    width: 100%;
    height: 79px; */
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#pageCard {
    background: white;
    padding: 15px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#para {
    float:right;
}

